<p>
    <a href="{% url 'pizzas:index' %}">Pizza Homepage</a>
    <a href="{% url 'pizzas:pizzas' %}">Pizzas</a>
    {% block additional_styles %}
    <style>
    body {
        background-image: url(pizzas/images/pizza.jpg);
    }
    </style>
    {% endblock %}
    {% if user.is_authenticated %}
    Hello ,{{user.username}}.
    <a href="{%url 'users:logout' %}">Log Out</a>
    {% else %}
    <a href="{%url 'users:register' %}">Register</a>
    <a href="{%url 'users:login' %}">Log In</a>
    {%endif%}

</p>

{% block content %}
{%endblock content %}